html {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@media print {
  *,
  :after,
  :before {
    background: 0 0 !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }
  100% {
    opacity: 0;
  }
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body,
html {
  position: relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
}
.modal-content,
.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .modal-content,
  .section {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #f3f5f9;
  color: #3d3935;
}
.fonts-loaded body {
  font-family: "Gotham Rounded";
  font-weight: 300;
}
h1,
h2,
h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: sans-serif;
}
.fonts-loaded h1,
h2,
h3 {
  font-family: "Gotham Rounded";
  font-weight: 700;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
a {
  color: #3d3935;
  text-decoration: none;
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
.claim {
  font-family: "Gotham Rounded";
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.intro-image {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 30vh;
}
.title {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.subtitle {
  margin-top: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
.fonts-loaded .subtitle {
  font-family: "Gotham Rounded";
  font-weight: 300;
}
.text-bold {
  font-family: "Gotham Rounded";
  font-weight: 700;
}
.text-uppercase {
  text-transform: uppercase;
}
@media screen and (min-width: 678px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  .claim {
    font-size: 80px;
  }
  .subheader {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .subheader {
    max-width: 750px;
  }
}
.theme-light {
  background-color: #eff5f9;
  color: #3d3935;
}
.theme-light a {
  color: #7a56f4;
}
.theme-light .title > strong {
  color: #7a56f4;
}
.theme-light .claim {
  color: #7a56f4;
}
.theme-light .button {
  color: #fff;
  background-image: -webkit-linear-gradient(right, #14e2cd, #7a56f4);
  background-image: linear-gradient(to left, #14e2cd, #7a56f4);
}
.theme-light .footer {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #eff5f9);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #eff5f9);
}
.theme-light .yeeply-logo {
  color: #3d3935;
}
.theme-light .yeeply-logo #reversed-e {
  fill: #14e2cd;
}
.theme-light .answer {
  border-color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.4);
}
@media screen and (min-width: 480px) {
  .theme-light .answer {
    background: rgba(255, 255, 255, 0);
  }
  .theme-light .answer:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}
.theme-light .answer.selected {
  background: rgba(255, 255, 255, 0.8);
  border-color: #fff;
}
.theme-dark {
  background-color: #3d3935;
  color: #fff;
}
.theme-dark a {
  color: #14e2cd;
}
.theme-dark .title > strong {
  color: #14e2cd;
}
.theme-dark .claim {
  color: #14e2cd;
}
.theme-dark .button {
  color: #fff;
  background-image: -webkit-linear-gradient(right, #7a56f4, #14e2cd);
  background-image: linear-gradient(to left, #7a56f4, #14e2cd);
}
.theme-dark .footer {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #3d3935);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #3d3935);
}
.theme-dark .yeeply-logo {
  color: #fff;
}
.theme-dark .yeeply-logo #reversed-e {
  fill: #14e2cd;
}
.theme-dark .answer {
  border-color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 480px) {
  .theme-dark .answer {
    background: rgba(255, 255, 255, 0);
  }
  .theme-dark .answer:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}
.theme-dark .answer.selected {
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.5);
}
.theme-cold {
  background-color: #8660f5;
  color: #fff;
}
.theme-cold a {
  color: #fed54c;
}
.theme-cold .title > strong {
  color: #fed54c;
}
.theme-cold .claim {
  color: #fed54c;
}
.theme-cold .button {
  color: #fff;
  background-image: -webkit-linear-gradient(right, #e52f2f, #fed54c);
  background-image: linear-gradient(to left, #e52f2f, #fed54c);
}
.theme-cold .footer {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #8660f5);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #8660f5);
}
.theme-cold .yeeply-logo {
  color: #fff;
}
.theme-cold .yeeply-logo #reversed-e {
  opacity: 0.6;
}
.row-of-2,
.row-of-3,
.row-of-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 678px) {
  .row-of-2,
  .row-of-3,
  .row-of-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .row-of-2 > .col,
  .row-of-3 > .col,
  .row-of-4 > .col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 678px) {
  .row-of-3 .col {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 992px) {
  .row-of-3 .col {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
}
@media screen and (min-width: 678px) {
  .row-of-4 .col {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 992px) {
  .row-of-4 .col {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
}
@-webkit-keyframes sparkle {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes sparkle {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.button {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0.5em 0;
  padding: 1em 3em;
  border: 0;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(right, #14e6d3, #8660f5);
  background-image: linear-gradient(to left, #14e6d3, #8660f5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 1.42857143;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 20px;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.button:after {
  position: absolute;
  content: "";
  top: 0;
  left: -1em;
  bottom: 0;
  width: 1em;
  background-image: -webkit-linear-gradient(
    right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(255, 255, 255, 0.2) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(255, 255, 255, 0.2) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
}
.button:hover:after {
  -webkit-animation: sparkle 0.5s normal forwards ease-out;
  animation: sparkle 0.5s normal forwards ease-out;
}
.button.button-small {
  font-size: 18px;
  padding: 0.65em 2em;
}
.fonts-loaded .button {
  font-family: "Gotham Rounded";
  font-weight: 700;
}
@media screen and (min-width: 678px) {
  .button {
    font-size: 24px;
  }
  .button.button-small {
    font-size: 22px;
  }
}
.modal {
  padding: 1em;
  opacity: 0 !important;
  display: none;
}
@media screen and (min-width: 678px) {
  .modal.modal-more-info {
    background-color: transparent !important;
  }
  .modal.modal-more-info .full-modal {
    background-color: transparent;
  }
  .modal.modal-more-info .full-modal .modal-content {
    padding: 3em 3em 1em 3em;
    background-color: rgba(103, 98, 94, 0.97);
    border-radius: 2px;
    position: relative;
  }
}
.modal.zoomIn {
  opacity: 1 !important;
}
.modal .modal-content table thead th h3 {
  text-align: center;
}
.modal .modal-content table td {
  padding: 20px;
}
@media screen and (max-width: 480px) {
  .modal .modal-content table td {
    font-size: 14px;
    padding: 10px 0;
  }
}
.modal .modal-content p {
  text-align: left;
  float: left;
  width: 100%;
}
.modal .modal-content h3,
.modal .modal-content h4 {
  text-align: left;
  float: left;
  width: 100%;
}
.modal .modal-content ul {
  text-align: left;
  float: left;
  width: 100%;
}
.modal .modal-content ul li {
  text-align: left;
  padding: 4px;
}
.modal .modal-close {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  cursor: pointer;
}
.modal .modal-close::after,
.modal .modal-close::before {
  position: absolute;
  content: "";
  top: 0.85em;
  right: 0;
  width: 2em;
  height: 0.3em;
  background: currentColor;
  border-radius: 2px;
  visibility: visible;
}
.modal .modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal .modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal form {
  width: 100%;
  max-width: 480px;
}
.modal form .button {
  margin-top: 1em;
  margin-bottom: 1em;
}
.modal label {
  font-family: sans-serif;
  text-align: left;
}
.modal label > small {
  font-family: sans-serif;
}
.modal label:not(:first-child) {
  margin-top: 0.75em;
}
.modal .fonts-loaded label {
  font-family: "Gotham Rounded";
  font-weight: 700;
}
.modal .fonts-loaded label > small {
  font-family: "Gotham Rounded";
  font-weight: 300;
}
.modal input,
.modal select,
.modal textarea {
  color: #3d3935;
}
.form-sent-icon {
  position: relative;
  width: 7.5rem;
  height: 4.5rem;
  margin: 3rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.form-sent-icon:after,
.form-sent-icon:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #14e2cd;
  border-radius: 0.75rem;
}
.form-sent-icon:before {
  width: 1.5rem;
  height: 4.5rem;
}
.form-sent-icon:after {
  width: 7.5rem;
  height: 1.5rem;
}
.question .question-description {
  margin-top: 0;
}
.question .price-progress,
.question .question-previous,
.question .question-progress {
  position: absolute;
  top: 0;
  padding: 1.5em;
}
.question .question-previous {
  left: 0;
  text-decoration: none;
}
.question .question-progress {
  left: 0;
  right: 0;
}
.question .price-progress {
  right: 0;
}
@media screen and (min-width: 678px) {
  .question .question-description {
    margin-bottom: 2em;
  }
  .question .price-progress,
  .question .question-previous,
  .question .question-progress {
    padding: 2em;
  }
}
.answer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 2px;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.2);
  text-align: left;
  -webkit-transition: background 0.35s ease, -webkit-transform 0.35s ease;
  transition: background 0.35s ease, -webkit-transform 0.35s ease;
  transition: transform 0.35s ease, background 0.35s ease;
  transition: transform 0.35s ease, background 0.35s ease,
    -webkit-transform 0.35s ease;
}
.answer .answer-image {
  width: 60px;
  height: 60px;
  margin-right: 1em;
}
@media screen and (min-width: 480px) {
  .answer {
    width: 100%;
    background: rgba(255, 255, 255, 0);
  }
  .answer:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@media screen and (min-width: 678px) {
  .answer {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .answer .answer-image {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 992px) {
  .answer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .answer .answer-image {
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-bottom: 1em;
  }
}
.answer.selected {
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: answer-selected 0.5s normal forwards linear;
  animation: answer-selected 0.5s normal forwards linear;
}
@-webkit-keyframes answer-selected {
  20% {
    background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
  }
  40% {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
  }
  60% {
    background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
  }
}
@keyframes answer-selected {
  20% {
    background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
  }
  40% {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
  }
  60% {
    background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
  }
}
.results {
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
}
.results h2 {
  margin: 0;
}
.results .intro {
  font-size: 14px;
}
@media screen and (min-width: 678px) {
  .results .intro {
    font-size: 16px;
  }
}
.results-share a {
  color: #fff;
}
.results-share .jssocials-share {
  position: relative;
}
.results-share .jssocials-share .jssocials-share-link {
  border-radius: 3px;
}
.results-share .jssocials-share .jssocials-share-count-box {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-bottom: 0.3rem;
  margin-left: 0;
  text-align: center;
  border-radius: 3px;
}
.results-share .jssocials-share .jssocials-share-count-box::after {
  top: auto;
  bottom: -0.5em;
  left: calc(49.8%);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.results-summary {
  display: none;
  list-style: none;
  margin: 0 0 1em;
  padding: 0 1em;
  color: #3d3935;
  background: #fff;
  border-radius: 5px;
}
.results-restart {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}
.result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
}
.result .result-image {
  width: 60px;
  height: 60px;
  margin-right: 1em;
}
.result .result-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}
.result .result-question {
  font-size: 0.875em;
}
.result .result-change {
  font-size: 14px;
  color: #7a56f4;
  cursor: pointer;
}
.result + .result {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .result {
    padding: 1em;
  }
}
.footer {
  position: absolute;
  padding: 1em;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 0.875em;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #3d392e);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #3d392e);
}
.footer .footer-right {
  text-align: right;
}
.footer .yeeply-logo {
  height: 1.5em;
  width: auto;
  margin-left: 2px;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}
.footer .yeeply-logo > g {
  fill: currentColor;
}
.jssocials-shares {
  margin: 0.2em 0;
}
.jssocials-shares * {
  box-sizing: border-box;
}
.jssocials-share {
  display: inline-block;
  vertical-align: top;
  margin: 0.3em 0.6em 0.3em 0;
}
.jssocials-share:last-child {
  margin-right: 0;
}
.jssocials-share-logo {
  width: 1em;
  vertical-align: middle;
  font-size: 1.5em;
}
img.jssocials-share-logo {
  width: auto;
  height: 1em;
}
.jssocials-share-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 1;
}
.jssocials-share-link.jssocials-share-link-count {
  padding-top: 0.2em;
}
.jssocials-share-link.jssocials-share-link-count .jssocials-share-count {
  display: block;
  font-size: 0.6em;
  margin: 0 -0.5em -0.8em -0.5em;
}
.jssocials-share-link.jssocials-share-no-count {
  padding-top: 0.5em;
}
.jssocials-share-link.jssocials-share-no-count .jssocials-share-count {
  height: 1em;
}
.jssocials-share-label {
  padding-left: 0.3em;
  vertical-align: middle;
}
.jssocials-share-count-box {
  display: inline-block;
  height: 1.5em;
  padding: 0 0.3em;
  line-height: 1;
  vertical-align: middle;
  cursor: default;
}
.jssocials-share-count-box.jssocials-share-no-count {
  display: none;
}
.jssocials-share-count {
  line-height: 1.5em;
  vertical-align: middle;
}
.jssocials-share-twitter .jssocials-share-link {
  background: #00aced;
}
.jssocials-share-twitter .jssocials-share-link:hover {
  background: #0087ba;
}
.jssocials-share-facebook .jssocials-share-link {
  background: #3b5998;
}
.jssocials-share-facebook .jssocials-share-link:hover {
  background: #2d4373;
}
.jssocials-share-googleplus .jssocials-share-link {
  background: #dd4b39;
}
.jssocials-share-googleplus .jssocials-share-link:hover {
  background: #c23321;
}
.jssocials-share-linkedin .jssocials-share-link {
  background: #007bb6;
}
.jssocials-share-linkedin .jssocials-share-link:hover {
  background: #005983;
}
.jssocials-share-pinterest .jssocials-share-link {
  background: #cb2027;
}
.jssocials-share-pinterest .jssocials-share-link:hover {
  background: #9f191f;
}
.jssocials-share-email .jssocials-share-link {
  background: #3490f3;
}
.jssocials-share-email .jssocials-share-link:hover {
  background: #0e76e6;
}
.jssocials-share-stumbleupon .jssocials-share-link {
  background: #eb4823;
}
.jssocials-share-stumbleupon .jssocials-share-link:hover {
  background: #c93412;
}
.jssocials-share-whatsapp .jssocials-share-link {
  background: #29a628;
}
.jssocials-share-whatsapp .jssocials-share-link:hover {
  background: #1f7d1e;
}
.jssocials-share-telegram .jssocials-share-link {
  background: #2ca5e0;
}
.jssocials-share-telegram .jssocials-share-link:hover {
  background: #1c88bd;
}
.jssocials-share-line .jssocials-share-link {
  background: #25af00;
}
.jssocials-share-line .jssocials-share-link:hover {
  background: #1a7c00;
}
.jssocials-share-viber .jssocials-share-link {
  background: #7b519d;
}
.jssocials-share-viber .jssocials-share-link:hover {
  background: #61407b;
}
.jssocials-share-pocket .jssocials-share-link {
  background: #ef4056;
}
.jssocials-share-pocket .jssocials-share-link:hover {
  background: #e9132e;
}
.jssocials-share-messenger .jssocials-share-link {
  background: #0084ff;
}
.jssocials-share-messenger .jssocials-share-link:hover {
  background: #006acc;
}
.jssocials-share-vkontakte .jssocials-share-link {
  background: #45668e;
}
.jssocials-share-vkontakte .jssocials-share-link:hover {
  background: #344d6c;
}
.jssocials-share-rss .jssocials-share-link {
  background: #f90;
}
.jssocials-share-rss .jssocials-share-link:hover {
  background: #cc7a00;
}
.jssocials-share-link {
  padding: 0.5em 0.6em;
  color: #fff;
  -webkit-transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.jssocials-share-link:active,
.jssocials-share-link:focus,
.jssocials-share-link:hover {
  color: #fff;
}
.jssocials-share-count-box {
  position: relative;
  height: 2.5em;
  padding: 0 0.3em;
  margin-left: 0.3em;
  background: #f5f5f5;
  -webkit-transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.jssocials-share-count-box:hover {
  background: #dcdcdc;
}
.jssocials-share-count-box:hover:after {
  border-color: transparent #dcdcdc transparent transparent;
}
.jssocials-share-count-box:after {
  content: "";
  display: block;
  position: absolute;
  top: 0.85em;
  left: -0.3em;
  width: 0;
  height: 0;
  border-width: 0.4em 0.4em 0.4em 0;
  border-style: solid;
  border-color: transparent #f5f5f5 transparent transparent;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.jssocials-share-count-box .jssocials-share-count {
  line-height: 2.5em;
  color: #444;
}
